body {
    background-image: url(https://images.unsplash.com/photo-1604975701397-6365ccbd028a?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

header {
    background-color: rgba(201, 70, 70, 0.333)
}

.navbar {
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding-right: 22%;
}



.navbar a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
    transition: color 0.3s;
   
}



.navbar a:hover {
	color: #8b8b8b;
}

.navbar a.activa {
    color: white;
  }


.imgbar1 img {
    width: 111px;
    height: auto;
}
.imgbar1 h2 {
font-family: 'Bebas Neue', cursive;
font-weight: normal;
font-size: 38px;
background-color: #ffffff;
border-radius: 3px;
padding-left: 4px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.navbar-menu li {
        display: inline;
        margin-right: 20px ;
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        font-size: 40px;
    }


  .navbar-menu li:first-child {
    margin-left: 0; 
  }
  
  .navbar-menu li:last-child {
    margin-right: 0; /* Eliminar margen derecho del último elemento */
}

.navbar-menu li a {
    text-decoration: none;
    color: #000000; /* Color del texto del menú */
    font-weight: bold; /* Ajustar según sea necesario */
    transition: background-color 0.3s; 
}

.lista li a:hover {
  background-color: #555;
} 



.titulo {
    text-align: center;
  }

.titulo h1 {
    border-radius: 5px;
    background-color: #ffffffa2;
    display: inline-block;
    font-size: 40px;
    margin-top: 180px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.movie-card {
    text-align: center;
    border: 1px solid #ddd; /* Borde delgado */
    background-color: #ffffff;
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior entre tarjetas */
    width: 300px; /* Ancho fijo de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3 ease;
}

.movie-card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease; 
    transform: scale(1.05);
}

.movie-card img {
    padding-top: 10px;
    max-width: 55%; /* La imagen no puede superar el ancho de la tarjeta */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 6px; /* Bordes redondeados para la imagen */
}

.movie-card h3 {
    font-size: 1.2em; /* Tamaño del título */
    margin-top: 8px; /* Margen superior */
    margin-bottom: 6px; /* Margen inferior */
}

.movie-card p {
    margin: 4px 0; /* Margen superior e inferior */
    font-size: 0.9em; /* Tamaño del texto */
}

.div2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 120px;
    padding: 20px;
}