body {
background-image: url(https://images.unsplash.com/photo-1559570278-eb8d71d06403?q=80&w=2126&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
min-height: 100vh;
margin: 0;
padding: 0;
font-family: 'Bebas Neue', cursive;
}

.nav {
height: 100px;
}

a {
font-family: 'Bebas Neue', sans-serif;
font-size: 20px;
color: #000000;
}

.navbar {
background-color: #924c4c6f;
}
.imgbar1 {
display: flex;
}

.imgbar1 img {
width: 140px;
height: 100px;
} 

.imgbar1 h2 {
display:inline-block;
font-family: 'Bebas Neue', cursive;
font-weight: normal;
font-size: 82px;
background-color: #ffffff;
border-radius: 3px;

}

#color {
background-color: #fff;
border-radius: 3px;
}

header {
background-color: rgba(201, 70, 70, 0.333)
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 22%;
}

.navbar a {
text-decoration: none;
margin-right: 50px;
transition: color 0.3s;
}

.navbar a:hover {
color: #5f5f5f;
}

.lista li a:hover {
background-color: #555;
}  */



.titulo {
text-align: center;
}

.titulo h1 {
    font-family: 'Bebas Neue', cursive;
    border-radius: 5px;
    background-color: #f8adada2;
    display: inline-block;
    font-size: 40px;
    margin-top: 180px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.card-body {
    font-family: 'Bebas Neue', cursive;
    background-color: #9d6b6b9a;
    text-align: center;
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3 ease;
}


.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease; 
    transform: scale(1.05);
}

.card-img-top {
    padding-top: 5px; 
    height: auto; 
    border-radius: 6px; 
}


.card-text {
    
    margin: 4px 0; 
    font-size: 1.1rem; 
}

.seccion2 {
    display: block;
    align-items: center;


}
.link-peli{
    font-size: 1.8rem;
    text-decoration: none;
    color: #000000;
}

.div2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    gap: 50px;
    margin-top: 50px;
    padding: 20px;

}


footer {
font-family: 'Bebas Neue', cursive;
color: white;
position: fixed;
bottom: 0;
width: 100%;
background-color: #a16262;
}

.row-1{
    background-color:#a16262 !important;
}

.row-2{
    
    background-color: #a16262 !important;
}

